<div class="exception-body accessdenied-page">
  <div class="exception-type p-5">
    <img alt="Acesso Negado" src="../../../../assets/layout/images/401.svg">
  </div>

  <div class="card exception-panel" style="margin-top: -160px">
    <i class="material-icons">&#xE32A;</i>

    <h1>Acesso Negado</h1>

    <div class="exception-detail">
      Vocẽ não tem permissão para acessar essa página.
    </div>

    <a href="/" class="ui-button secondary">
      <span class="ui-button-text">
        Voltar para tela inicial
      </span>
    </a>
  </div>
</div>
